 .u-section-1 {
  background-image: none;
  min-height: 733px;
}

.u-section-1 .u-image-1 {
  width: 749px;
  height: 605px;
  margin: 130px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: -643px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 551px);
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 12px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 551px);
}

.u-section-1 .u-layout-wrap-1 {
  width: 503px;
  margin: 12px auto 60px 761px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 70px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 10px 10px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 31px 10px 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 70px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 557px;
    height: 443px;
    margin-top: 290px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 351px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 351px);
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: 487px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 740px;
  }

  .u-section-1 .u-image-1 {
    height: 394px;
    margin-top: 510px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: -844px;
    margin-right: calc(((100% - 720px) / 2) + 217px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1rem;
    margin-top: 24px;
    margin-right: 159px;
    margin-left: 251px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: 119px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 695px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 382px;
    margin-top: 610px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -932px;
    margin-right: calc(((100% - 540px) / 2) + 37px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-top: 23px;
    margin-right: calc(((100% - 540px) / 2) + 130px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 23px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 533px;
  }

  .u-section-1 .u-image-1 {
    width: 406px;
    height: 302px;
    margin-top: 549px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -791px;
    margin-right: calc(((100% - 340px) / 2) + 14px);
    margin-left: calc(((100% - 340px) / 2) + -14px);
  }

  .u-section-1 .u-text-2 {
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 15px;
    margin-left: calc(((100% - 340px) / 2) + -14px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 88px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 88px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 451px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 331px;
  margin: -29px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 10px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0 10px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  margin: 30px auto 0 10px;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: -13px;
    margin-bottom: -13px;
  }
} .u-section-3 {
  background-image: url("images/alessio-soggetti-C4HO6MzEWrU-unsplashcopy.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 733px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 92px 0 0 551px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 12px 0 0 551px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 503px;
  margin: 12px auto 60px 668px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 70px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px 10px 10px 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 31px 10px 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 70px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 0 0;
  padding: 10px 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 351px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 351px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: 437px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 131px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-left: 131px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: 217px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-left: 37px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }
}